@font-face {
    font-family: ProximaNova;
    src: url('assets/ProximaNova-Regular.otf');
  }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova', 'sans-serif';
}

body {
    background-color: black;   
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
}

nav .item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav .item p {
    margin: 0;
}

nav .item .svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.main {
    background-image: url('./assets/slider.png');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -110px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: bottom;
}

.main .content {
    color: white;
}

.main .content p {
    font-size: 1.5em;
    line-height: 1.7;
    width: 60%;
}

.main .content button {
    padding: 15px 40px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 100px;
    background: none;
    color: white;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    list-style: none;
    margin-top: -50px;
}

.dots div {
    height: 8px;
    width: 8px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-right: 10px;
}

.dots div:first-child {
    background-color: white;
}

.footer {
    color: white;
    margin-top: 100px;
}

.footer .top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 80px;
}

.footer .top .left .logo {
    margin-bottom: 60px;
}

.footer .top .left .logo img {
    margin-bottom: 30px;
}

.footer .top .left .subscribe {
    display: flex;
    align-items: center; 
}

.footer .top .left .subscribe input[type="text"] {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 6px 10px;
    margin-right: 40px;
}

.footer .top .left .subscribe input[type="text"]::placeholder{
    color: white;
}

.footer .top .left .subscribe input[type="submit"] {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 7px 30px;
}

.footer .top .right {
    width: 50%;
}

.footer .top .right .footer-menu {
    display: flex;
    justify-content: flex-end;
}

.footer .top .right .footer-menu .items {
    margin-right: 80px;
}

.footer .top .right .footer-menu .items ul {
 list-style: none;
 padding: 0;
 margin-top: 30px;
}

.footer .top .right .footer-menu .items ul li{
    margin-bottom: 10px;
}

.footer .bottom {
    margin-top: 30px;
}

.footer .bottom .footer-base {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 60px;
}

.footer .bottom .footer-base .legal {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer .bottom .footer-base .legal li {
    margin-right: 40px;
    text-decoration: underline;
}

.footer .bottom .footer-base .social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer .bottom .footer-base .social li {
    margin-right: 20px;
    text-decoration: underline;
}